
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./style.css">
    <title>{{test.id}}.{{part.id}}.{{case.id}} {{ case.name }}</title>
</head>
<body>
{% set counter = namespace(i=1) %}
<div class="content">
    <h1>{{ part.main_title }}</h1>
    <h2>{{ test.id }}.{{ part.id }} {{ part.main_title }} {% if part.test_title != "" %} - {{ part.test_title }} {% endif %}</h2>
    <br/>
    <br/>
    <h3 class="center-div">Test Objective</h3>

    <p>{{ part.objective }}</p>
<!--    <br/>-->

    <h3 class="center-div">Demonstration Procedure</h3>
    <p>{{ part.demonstration_procedure }}</p>
<!--    <br/>-->

    <h3 class="center-div">References</h3>
    <p>EASA CS-FSTD(H) AMC1 FSTD(H).300 (b)</p>

    <h3 class="center-div">Applicability</h3>
    <p>Test applicable to FTD Level 1.</p>

    {% include 'test_part_footer.html' %}
</div>
{% include 'test_case.html' %}
</body>
</html>