<table class="footer">
    <tbody>
        <tr>
            <td><b>Test</b></td>
            <td>{{test.id}}.{{part.id}}</td>
            <td><b>SubCase</b></td>
            <td>{{case.id}}</td>
<!--                <td><b>FLT</b></td>-->
<!--                <td>30</td>-->
<!--                <td><b>TOP</b></td>-->
<!--                <td>47</td>-->
            <td><b>SW V.</b></td>
            <td>-</td>
            <td><b>Mode</b></td>
            <td>Automatic</td>
        </tr>
        <tr>
            <td><b>Title</b></td>
            <td colspan="3" class="align-left">{{ case.name }} - {{ case.condition }}</td>
            <td><b>Date</b></td>
            <td>{{ curr_date }}</td>
            <td><b>Time</b></td>
            <td>{{ curr_time }}</td>
        </tr>
        <tr>

        </tr>
        <tr></tr>
    </tbody>
</table>