<table class="no-outer-borders">
      <thead>
          <tr>
              <th class="align-left">Parameter <span class="light-text">[U oM]</span></th>
              <th>Tolerance</th>
          </tr>
      </thead>
      <tbody>
      {% with criteria_list = part.tolerances_evaluation_criteria if case.is_mqtg else part.tolerances_recurrent_criteria %}
          {% for criterion in criteria_list %}
          <tr>
              <td class="align-left">{{ criterion.parameter }} <span class="light-text">{{ criterion.unit }}</span></td>
              <td>{{ criterion.tolerance }}</td>
          </tr>
          {% endfor %}
      {% endwith %}
      </tbody>
  </table>